@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Maitree:wght@200;300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maitree', serif, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#header {
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px 0 105px;
    box-shadow: 0px 4px 8px #0000001c;
}

#header h2 {
    font-family: 'Ubuntu';
    font-size: 2.23rem;
    font-weight: 100;
    letter-spacing: 3px;
}

div#nav-bar a{
    margin-right: 15px;
    color: black;
    text-decoration: none;
}

div#nav-bar a#actual {
    text-decoration: underline solid saddlebrown 2px;
}

h1#title {
    color: white;
    font-size: 9em;
    font-weight: 100;
    padding-top: 7%;
}

p#text {
    color: white;
    font-size: 2em;
}

#first-view {
    width: 100%;
    height: 620px;
    text-align: center;
    background-image: url(/assets/SVGs/first-view-image.jpg);
    background-repeat: no-repeat;
    box-shadow: inset 0px -1000px 20px 100px #000000be;
}

/* #services-explanation {
    position: absolute;
    display: flex;
    color: whitesmoke;
    font-weight: 500;
    text-align: center;
    justify-content: space-around;
}

.services {
    width: 20%;
}

.services img {
    text-align: start !important;
    margin-bottom: 15px;
    color: white;
}
 */

img {
    width: 50px;
}

.services p.service-title {
    font-family: 'Hina Mincho', serif, initial;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center !important;
}

.services p {
    text-align: center !important;
}

#announces {
    background-color: #ffad42;
    height: 300px;
    text-align: center;
    background-color: white;
    margin-bottom: 5%;
}

#announces > * {
    font-size: 1.37rem;
    color: rgb(44, 44, 44);
}

#title > span {
    color: chocolate;
    font-weight: 500;
    text-decoration: underline solid #ffad42 3px;
    font-family: 'Hina Mincho', serif,  'Ubuntu', monospace, Arial, Helvetica, sans-serif;
}

#announces > p#title {
    font-weight: 500;
    text-align: left;
    margin-bottom: .1%;
    margin-left: 20%;
    padding-top: .5%;
    font-size: 1.9rem;
    font-family: 'Hina Mincho', serif, Arial, Helvetica, sans-serif;
}

#announces > #container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container > div#first {
    font-family: 'Ubuntu', monospace, initial;
    width: 50%;
    margin-left: 10%;
}

#container > #second {
    margin-right: 15%;
}

#money {
    width: 400px;
    height: 260px;
    border-radius: 10px;
}

#second > #conversation {
    position: relative;
    top: -50px;
    width: 13%;
}

#announces > .user {
    margin-bottom: 50px;
}

#plans-list {
    width: 110%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
}

.plans {
    width: 16%;
    height: 100%;
    margin-right: 10%;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    padding: 7px 15px;
    text-align: center;
    box-shadow: 6px 6px 11px #00000040;
}

.plan-title {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 8px;
}

.plans > #first {
    color: crimson;
}

.plans > #first-price {
    color: green;
    font-weight: 300;
    font-size: 1.6rem;
}

.plans > .value {
    margin-bottom: 40px;
}

ul.plan-benefits {
    list-style-position: inside;
}

ul.plan-benefits li.h {
    list-style-image: url(/assets/SVGs/check-solid.svg);
}

ul.plan-benefits li.d {
    list-style-image: url(/assets/SVGs/xmark-solid.svg);
}

li.a {
    padding-top: 15%;
    list-style-type: none;
}

a.li-a-link {
    color: rgb(0, 101, 134);
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 1.1em;
}

a.li-a-link:hover {
    color: rgb(1, 50, 66);
}

#second {
    color: crimson;
}

#second-price {
    color: green;
    font-size: 1.39rem;
    font-weight: 300;
}

#third {
    color: crimson;
}

#third-price {
    color: green;
    font-size: 1.39rem;
    font-weight: 300;
}

#login {
    width: 55%;
    margin: auto;
    text-align: center;
}

#login > p {
    font-size: 1.3rem;
    margin-bottom: 5%;
}

#login > button {
    padding: 5px;
    border: none;
    background-color: #ffad42;
    border-radius: 5px;
    width: 25%;
    height: 50px;
    font-size: 1rem;
    box-shadow: 5px 5px 18px #0000003d;
    transition: width .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#login > button > a {
    color: black;
    text-decoration: none;
}

#login > button:hover {
    width: 35%;
    cursor: pointer;
    background-color: #f7991f;
    box-shadow: 5px 5px 18px #00000063;
}

#footer {
    text-align: center;
    margin-top: 7%;
    padding: 1%;
    background-color: rgb(192, 192, 192);
}

#footer > p > a {
    color: black;
    text-underline-offset: 1.8px;
}